body {
  -webkit-transition: .3s ease-in-out all;
  -moz-transition: .3s ease-in-out all;
  -o-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.5 !important;
  font-weight: 400;
  color: #333;
  background: #fff;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Yatra One', cursive;
  font-weight: 400;
}

h1 {
  font-size: 90px;
  margin: 0;
  padding: 0;
  margin-top: 75px !important;

}

h2 {
  font-size: 60px;
  margin: 0;
  padding: 0;

  margin-bottom: 30px !important;
}

h3 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px !important;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5em !important;
}

a, a:link, a:visited, a:active {
  color: #0091EA;
  text-decoration: none;
}

a:hover {
  color: #E56F2C;
}

button {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  border: 2px solid #0091EA;
  background: #fff;
  border-radius: 500px;
  color: #0091EA;
  padding: 15px;
  outline: 0;
  margin: 15px;
}

button:hover {
  color: #fff;
  background: #0091EA;
  border: 2px solid #0091EA;
}

img {
  width: 100%;
  height: auto;
}

.nav {
  position: fixed;
  z-index: 999;
  background: #fff;
  padding: 15px;
  width: 100%;
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.3);
}

.nav > a {
  padding: 0 15px;
  float: right;
}

.section, .footer {
  padding: 60px 0;
}

.section > * {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-gray {
  background: #f9f9f9;
}

.section-black {
  background: #333;
}

.section-black > * {
  color: #f9f9f9 !important;
}

@media only screen and (max-width: 500px) {
  .container {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5 !important;
    font-weight: 400;
    color: #333;
    background: #fff;
    margin: 0 auto;
  }

  h1, h2, h3 {
    font-family: 'Yatra One', cursive;
    font-weight: 400;
  }

  h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    margin-top: 60px !important;
  }

  h2 {
    font-size: 32px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px !important;
  }

  h3 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: 15px !important;
  }

  p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5em !important;
  }

  a, a:link, a:visited, a:active {
    color: #0091EA;
    text-decoration: none;
  }

  a:hover {
    color: #E56F2C;
  }

  .nav {
    position: fixed;
    z-index: 999;
    background: #fff;
    padding: 15px;
    width: 100%;
    top: 0;
    right: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.3);
  }

  .nav > a {
    padding: 0 5px;
    float: right;
  }
}

