nav:bar {
    margin-bottom: 0;
    background-color: #08B2E3;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}


footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #1786A8;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1786A8 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

/* Black buttons with extra padding and without rounded borders */
.btn {
    padding: 10px 20px;
    background-color: #D62246;
    color: #f1f1f1;
    border-radius: 0;
    transition: .5s;
    margin: 10px; 

}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 5px solid #D62246;
    background-color: #fff;
    color: #000;
}
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }

a{
      font: 400 15px/1.8 Lato, sans-serif !important;
      color: white;
}

.jumbotron { 
    background-color: #219AAF; 
    color: #ffffff;
    padding: 100px 25px;
}

.text-white{
    color: #ffffff;
}

.bg-blue {
    background-color: #219AAF;
}
.bg-grey {
    background-color: #f6f6f6;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.logo-small {
    color: #10B7A4;
    font-size: 50px;
}

.logo {
    color: #10B7A4;
    font-size: 200px;
}

.container-fluid {
    padding: 60px 50px;
}

.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
